<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

<IfModule mod_rewrite.c>
	RewriteEngine on
	# Bloqueia a listagem de diretórios.
	Options All -Indexes

	# Mensagem de erro personalizada.
	ErrorDocument 403 "Desculpe! Acesso nao permitido
	
	RewriteCond %{http_host} ^msdesign.pt [nc]
	RewriteRule ^(.*)$ https://www.msdesign.pt/$1 [r=301,nc]

#Users
	RewriteRule ^sendEmail/?$ sendEmail.php [NC]

	RewriteRule ^admin/([a-z0-9-]+)/?$ /admin/index.html [NC]
	RewriteRule ^([a-z0-9-]+)/?$ /index.html [NC]
	
</IfModule>
